[submodule "cpp/third-party/googletest"]
	path = cpp/third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/third-party/gtest/googletest"]
	path = cpp/third-party/gtest/googletest
	url = https://github.com/google/googletest
